appnope
asttokens
backcall
blobfile
certifi
charset-normalizer
cycler
decorator
einops
executing
filelock
filterpy
ftfy
idna
imageio
ipython
jedi
kiwisolver
llvmlite
lxml
matplotlib
matplotlib-inline
networkx
numba
numpy
opencv-python
packaging
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pure-eval
pycryptodomex
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
regex
requests
scikit-image
scipy
six
stack-data
tifffile
timm
torch
torchvision
tqdm
traitlets
typing_extensions
urllib3
wcwidth
yacs
